<form
  [formGroup]="OrderForm"
  (ngSubmit)="submitForm()"
  *ngIf="IsUserValid == 'success'"
>
  <div>
    <label for="custName">First Name: </label>
    <input type="text" formControlName="firstname" value="" />
  </div>
  <div>
    <label for="custName">Last Name: </label>
    <input type="text" formControlName="lastname" value="" />
  </div>
  <div>
    <label for="ordDate"
      >Order Date: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label
    >
    <input type="text" formControlName="ordDate" value="" />
  </div>
  <div>
    <label for="ordItems"
      >Order Items: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label
    >
    <input type="text" formControlName="ordItems" value="" />
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
<table *ngIf="IsUserValid == 'success'">
  <tr>
    <td style="border:1px solid black">First Name</td>
    <td style="border:1px solid black">Last Name</td>
    <td style="border:1px solid black">Orders Items</td>
    <td style="border:1px solid black">Order Date</td>
  </tr>
  <tr *ngFor="let ord of AllOrders">
    <td style="border:1px solid black">{{ ord.firstname }}</td>
    <td style="border:1px solid black">{{ ord.lastname }}</td>
    <td style="border:1px solid black">{{ ord.orderItems }}</td>
    <td style="border:1px solid black">{{ ord.orderDate }}</td>
  </tr>
</table>
